body {
   background: #fff;
}

.container {
    display: block;
    width: 400px;
    margin: 100px auto 0;
}

#new-task {
    width: 291px;
    height: 53px
}

#add {
    width: 76px;
    height: 53px;
}

#task-list {
    padding: 30px;
}

#task-list li {
    padding: 10px;
}


ul {
    margin: 0;
    padding: 0;
}

li * {
    float: left;
}

li, h3 {
    clear:both;
    list-style:none;
}